<%= flash[:notice] %>
<% @books.each do |book| %>

<div>
  <%= link_to book_path(book.id) do %>
   <%= image_tag @user.get_profile_image %>
   <p>Title: <%= book.title %></p>
  <% end %>
   <p>Opinion: <%= book.body %></p>
   
</div>
<% end %>

<%= render 'books/list', user: @user, book: @book %>